SERVER_ADDRESS="localhost:8000"
DATABASE_URL="sqlite://./storage/task.db"

# authorization
JWT_SECRET="dummy"

# pagination
PER_PAGE=10

# JWT
ACCESS_TOKEN_EXPIRATION_MINUTES=10
REFRESH_TOKEN_EXPIRATION_MINUTES=1440

# Email
SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_USERNAME="username"
SMTP_PASSWORD="password"

FROM_EMAIL="dummy@dummy.com"
